<!DOCTYPE html>
<html lang="es">
<head>
	<title>Contactos</title>
	<link rel="stylesheet" href="css/index.css">
	<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/index.css">	

</head>
<body>
	<h1 align = "center">Contactos</h1>
	<table align="Center">
		<thead>
	  <tr>
	  
	  
		<th >Email</span></th>
	  
	  
		  <th >Nombre </th>
		  
		  
	  
		<th >Comentario</th>
		
		
	  
		<th > Fecha-Hora</th>
		
	  
	  
	  
	  
		<th >IP </th>
	  
	  
	  
	  </tr>
	   </thead>
	
	  </table>
	
</body>
</html>