<!DOCTYPE html>
<html>
  <head>
    <title>Programación II</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nombre: Alejandra Moreno</p>
<p> Sección "1"</p>
<p> C.I: 28.012.948</p>
  </body>
</html>
