<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nombre"> 
        <div class="img">
            <img src="img/foto.jpeg" alt="">
        </div>
        <div class="contenido">
            <p class="p1">Alejandra Moreno</p>
            <p class="p2">20 años, Bachiller</p>
        </div>
    </div>

    <div class="inf">
        <p class="secciontitulo"> Información Personal </p>
        <p class="infotitulo">Nombre y Apellidos:</p>
        <p class="continfo">Alejandra Carolina Moreno Pérez.</p> <br>
        <p class="infotitulo">Fecha de nacimiento:</p>
        <p class="continfo">13/05/2001.</p> <br>
        <p class="infotitulo">Cedula de Identidad:</p>
        <p class="continfo">28.012.948</p><br>
        <p class="infotitulo">Lugar de Nacimiento:</p>
        <p class="continfo">Venezuela.</p><br>
        <p class="infotitulo">Dirección:</p>
        <p class="continfo">San Juan de los Morros. Urb. Las palmas.</p><br>
        <p class="infotitulo">Teléfono:</p> 
        <p class="continfo">0424.379.6246.</p><br>
        <p class="infotitulo">Correo Eléctronico</p>
        <p class="continfo">cjmoreno17@gmail.com</p><br>
    </div>

    <div class="inf">
        <p class="secciontitulo"> Estudios Realizados </p>
        <p class="infotitulo">Educación Primaria:</p>
        <p class="continfo">1er Grado - 6to Grado, U.E.C.A ‘‘Ángel de la Guarda’’.</p><br>
        <p class="infotitulo">Educación Secundaria:</p>
        <p class="continfo">1er Año - 5to Año, U.E.C.A ‘‘Ángel de la Guarda’’.</p><br>
        <p class="infotitulo">Titulo Obtenido:</p>
        <p class="continfo">Bachiller Meción Administración y Procesamiento de Datos.</p><br>
        <p class="infotitulo">Estudios Avanzados:</p>
        <p class="continfo">Universidad Rómulo Gallegos "UNERG" (Cursando).</p><br>
    </div>
    <div class="inf">
        <p class="secciontitulo"> Experiencia Laboral </p>
        <p class="continfo">Sub Región de Salud, Auxiliar Administrativo.</p>
    
    </div>
    
    <div class="inf">
        <p class="secciontitulo"> Cursos Realizados </p>
        <p class="continfo">Curso ‘‘IPROANDES’’, Inglés Básico-Conversacional (duración 6 meses).</p><br>
        <p class="continfo">Curso ‘‘LINGUANOVA’’, Inglés Conversacional.</p>

    </div>

    <div class="inf">
        <p class="secciontitulo"> Habilidades y Destrezas </p>
        <div class="ul">
        <ul>
            <li>Comunicación.</li><br>
            <li>Ética/integridad personal.</li><br>
            <li>Sentido de la responsabilidad.</li> <br>
            <li>Capacidad de trabajar en equipo</li> <br>
            <li>Capacidad de actualizar los conocimientos.</li><br>
            <li>Capacidad de adaptación.</li><br>
          </ul>
        </div>
    </div>
   
	<div class="social">
		<a href="https://www.facebook.com/alejandra.moreno999/"><img src="img/facebook.png" alt="facebook"></a>
		<a href="https://www.instagram.com/alejacmp_/"><img src="img/instagram.png" alt="instagram"></a>
	</div>
        <form action="/comentario" method="post">
            <ul>
                <li>
                  <label for="name">Nombre:</label>
                  <input type="text" id="name" name="user_name">
                </li>
                <li>
                  <label for="mail">Correo electrónico:</label>
                  <input type="email" id="mail" name="user_mail">
                </li>
                <li>
                  <label for="msg">Mensaje:</label>
                  <textarea id="msg" name="user_message"></textarea>
                </li>
               </ul>
               <button type="submit">Enviar</button>
        </form>
        <header>
           <nav>
            <ul class="contac">
                <li class="form"><a target="_blank" href="contactos">Contactos</a></li>
            </ul>
           </nav> 
        </header>
</body>
</html> 