body {
    background:url(../img/equis.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
		margin: 0;

}

.nombre {
    width: 100%;
    height: 300px;
    background: #8F51E1;
    transform: skewY(-5deg);
}
.nombre .contenido {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
.nombre .contenido .p1 {
    color: #371269;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 70px;
    transform: skewY(5deg);
    margin-bottom: 0;
}
.nombre .contenido .p2 {
    color: #371269;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;
}

.nombre .img {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;
}
.nombre .img img{
    width: 180px;
    height: 240px;
}

.inf {
    width: 90%;
    height: auto;
    background: #371269;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
    border-style:dashed;
    border-color: #8F51E1;
}

.inf .secciontitulo {
    color: #8F51E1;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #8F51E1 dashed;
}

.inf .infotitulo {
    color: #8F51E1;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 30px;
    display: inline;
    margin-right: 20px;
}

.inf .continfo {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    font-size: 25px;
    display: inline;
}

.ul {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    font-size: 25px;
}

.social {
	width:48px;
	position:fixed;
	top:50px;
	right:0;
}

.social {
	top:50%;
	height:205px;
	margin-top:-100px;
}
header {
    width:300px;
	max-width:300px;
	margin:20px auto;
}
header nav{
    width:300px;
	width:300px;
	background: rgba(0,0,0,0.0);
	overflow:hidden;
}
header nav ul{
	list-style:none;
}
header nav ul li{
	float:left;
}
header nav ul li a{
	padding: 10px 30px;
	display:block;
	color:#fff;
	text-decoration:none;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    border-radius: 5%;
    border: #8F51E1 dashed;
    background-color: #371269;
}
header nav ul li a:hover{
	background:rgb(137,109,229)
}
*{box-sizing:border-box;}

form {
    width:340px;
    height:100 px;
    background-color: #371269;
    border-radius:8px;
    border: dashed #8F51E1;
    box-shadow:0 0 40px -10px purple;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    position:relative;
}

li {
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:white;
}

